
.HomeHeard .ant-menu{
    display: inline-block;
    height: 21px;
    line-height: 20px;
    margin-left: 190px;
}
.HomeHeard .ant-menu li{
    height: 20px !important;
    border-radius: 10px;
    margin-right: 30px;
    background: #C33825;
    line-height: 20px;
    font-size: 12px;
}
.HomeHeard .ant-menu{
    background: transparent;
    border-bottom: 0;
}
.HomeHeard .ant-menu-item-active{
    background: #9C2B1B !important;
}
.HomeHeard .ant-menu-item-selected{
    background: #9C2B1B !important;
}
.con{
    width: 982px;
    margin: 8px auto !important;
    margin-bottom: 0 !important;
    position: relative;
}
.Con_Box{
    position: relative;
}